[submodule "bigfile"]
	path = depends/bigfile
	url = https://github.com/rainwoodman/bigfile
[submodule "radixsort"]
	path = depends/mpsort
	url = https://github.com/rainwoodman/MP-sort
[submodule "kspace-neutrinos"]
	path = libgadget/kspace-neutrinos
	url = https://github.com/sbird/kspace-neutrinos
