*.a
*.png
*.o
.*.swp
.kdev4/
.gdb_history
libgadget/config.c
depends/bin
depends/lib
depends/share
depends/pfft-*
examples/*/output*
examples/*/slurm-*.txt
build/
__pycache__/
genic/MP-GenIC
gadget/MP-Gadget
libgadget/.objs
libgenic/.objs
Options.mk
yyh_tests/
.vscode/