*.a
*.png
*.pdf
*.o
*.so
*.kdev4
.ipynb_checkpoints
.objs
.*.swp
.kdev4/
.gdb_history
.cache/
CMakeFiles/
compile_commands.json
.zed
libgadget/config.c
depends/bin
depends/lib
depends/share
depends/pfft-*
examples/*/output*
examples/*/IC
examples/*/ICS
examples/*/slurm-*.txt
maintainer/html
latex/
build/
__pycache__/
genic/MP-GenIC
gadget/MP-Gadget
libgadget/.objs
libgenic/.objs
Options.mk
yyh_tests/
.vscode/
.DS_Store
