*.o
.*.swp
P-Gadget3
.gdb_history
config.h
GENIC/N-GenIC
depends/bin
depends/lib
depends/share
depends/pfft-*
examples/*/output/
depends/cmocka-build/
tests/test_*
!tests/test_*.c
build/
__pycache__/
