#Uncomment below to specify default options

MPICC       =   mpicc
MPICXX       =   mpic++

#
#
# For GCC add -mpc64 if IEEE 64bit FP is desired.
OPTIMIZE =  -fopenmp -O3 -g -Wall -ffast-math -march=native

GSL_INCL = $(shell pkg-config --cflags gsl)
GSL_LIBS = $(shell pkg-config --libs gsl)

#
#--------------------------------------- Basic operation mode of code
OPT += -DDENSITY_INDEPENDENT_SPH
#OPT += -DLIGHTCONE                       # write a lightcone on the fly; in development
#OPT += VALGRIND     # allow debugging with valgrind, disable the GADGET memory allocator.
#OPT += -DDEBUG      # print a lot of debugging messages

# flags shall that always be there they need to be cleaned up
OPT += -DOPENMP_USE_SPINLOCK
OPT += -DSPH_GRAD_RHO  # calculate grad of rho in SPH, required for Krumholtz & Gnedin H2 SFR

#--------------------------------------- SFR/feedback model
# Star formation master switch. Also enables the Wind model
OPT	+=  -DSFR

#-------------------------------------- AGN stuff
OPT	+=  -DBLACK_HOLES             # enables Black-Holes (master switch)

#-------------------------------------------- Things for special behaviour
OPT	+=  -DNO_ISEND_IRECV_IN_DOMAIN     #sparse MPI_Alltoallv do not use ISEND IRECV
