#These variables are set to useful defaults, but may be overriden if needed
#MPICC=mpicc

#NVCC=nvcc
#NVOPTIMIZE = -O3 -arch=sm_61 # specify architecture according to you GPU model, sm_90 shall be used for Vista's H100

#GSL_LIBS=
#GSL_INCL=
#This is a good optimized build default for gcc
OPTIMIZE =  -fopenmp -O3 -g -Wall -ffast-math
#This is a good non-optimized default for debugging
#OPTIMIZE =  -fopenmp -O0 -g -Wall

#--------------------------------------- Basic operation mode of code
#OPT += VALGRIND     # allow debugging with valgrind, disable the GADGET memory allocator.
#OPT += -DDEBUG      # print a lot of debugging messages
#Disable openmp locking. This means no threading.
#OPT += -DNO_OPENMP_SPINLOCK
#OPT += -DUSE_CUDA  #Enable GPU-specific CUDA code
#-----------
#OPT += -DEXCUR_REION  # reionization with excursion set

#--------- CFITSIO (required only for saving potential plane files)
# OPT += -DUSE_CFITSIO
