#Uncomment below to specify default options
MPICC       =   mpicc
MPICXX       =   mpic++

#
#
# For GCC add -mpc64 if IEEE 64bit FP is desired.
OPTIMIZE =  -fopenmp -O3 -g -Wall -ffast-math

GSL_INCL = $(shell pkg-config --cflags gsl)
GSL_LIBS = $(shell pkg-config --libs gsl)

#
#--------------------------------------- Basic operation mode of code
#OPT += -DLIGHTCONE                       # write a lightcone on the fly; in development
#OPT += VALGRIND     # allow debugging with valgrind, disable the GADGET memory allocator.
#OPT += -DDEBUG      # print a lot of debugging messages
#OPT += -DSPH_GRAD_RHO  # calculate grad of rho in SPH, required for Krumholtz & Gnedin H2 SFR
#Disable openmp locking. This means no threading.
#OPT += -DNO_OPENMP_SPINLOCK

#-------------------------------------------- Things for special behaviour
#OPT	+=  -DNO_ISEND_IRECV_IN_DOMAIN     #sparse MPI_Alltoallv do not use ISEND IRECV
