# main test workflow; ported from .travis.yaml

name: main

on:
  push:
    branches: [ '*', $default-branch ]
  pull_request:
    branches: [ $default-branch ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      OMP_NUM_THREADS: 1
    defaults:
      run:
        shell: bash -l {0}
    steps:

    - name: Checkout source code
      uses: actions/checkout@v2

    - name: Cache conda
      uses: actions/cache@v1
      env:
        # Increase this value to reset cache.
        CACHE_NUMBER: 0
      with:
        path: ~/conda_pkgs_dir
        key:
          ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}

    - name: Cache depends/
      uses: actions/cache@v2
      key: ${{ runner.os }}-build-${{ hashFiles('depends/Makefile', 'depends/install_pfft.sh') }}
      with:
        path: |
          ~/depends/install
          ~/depends/include
          ~/depends/download
          ~/depends/src
          ~/depends/lib

    - name: Setup Conda Environment
      uses: conda-incubator/setup-miniconda@v2.0.1
      with:
        activate-environment: test
        environment-file: maintainer/conda-env.yml
        channels: bccp
        show-channel-urls: true
        use-only-tar-bz2: true

    - run:
        conda info

    - name: Build
      run: |
        cp platform-options/Options.mk.travis Options.mk
        make

    - name: Unit tests
      run: |
        make test

    - name: examples/travis
      run: |
        cd examples/travis
        python3 ../../tools/make_class_power.py paramfile.genic --extraz 82.3333 65.6667
        mpirun -np 2 ../../genic/MP-GenIC paramfile.genic
        mpirun -np 2 ../../gadget/MP-Gadget paramfile.gadget 1 # this starts from the IC
        python check-results.py
        mpirun -np 2 ../../gadget/MP-Gadget paramfile.gadget 99 #Checks the gravity force error
        mpirun -np 2 ../../gadget/MP-Gadget paramfile.gadget 99 2
        python ../../tools/convert_bigfile_gadget_hdf5.py --input output/PART_000 --output output
